body {
    background-color: rgba(156, 239, 236, 0.17) !important;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-left: 30%;
}