html {
    height: 100%;
}
body {
    background-color: rgba(156, 239, 236, 0.17) !important;
    font-family: 'Fauna One', serif;
}
.space {
    margin-top:100px;
}

.sp {
    margin-top:50px;
}

.user-box{
    /* display: block; */
    /* margin: 10%; */
    font-family: Cinzel, serif;
    /* text-align: center; */
    font-size: 15px;
    font-weight: bold; 
}

.user-box input {
    display: block;
    /* margin: 2% 27%; */
    font-family: Cinzel, serif;
    font-size: 17px;
}
/* a:hover {
    background-color:#45607e;;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
} */
#submit {
    margin-top: 15%; 
    padding: 2%;
    font-weight: bold;
    background-color: black;
    letter-spacing: 4px;
    border-color:#243b55;
    color:white;
}
#submit:hover {
    background-color: #45607e;
}

#login{
    display: inline;
    color:#141e30;
    font-family: Cinzel, serif;
    text-align: right;
    letter-spacing: 4px;
    text-decoration: none;
    margin-left: 20px;
}

#login:hover {
    text-decoration: underline;
}
h2 {
    text-align: center;
    color: white;
    /* background-color:#243b55; */
}

section{
    /* background-color:#243b55; */
}

.error {
    color:white;
    background-color:#6D0000;
    padding: 10px;
    display: none;
}

.error.display-error {
    display: block;
    margin-left:86%;
    transform: translateY(-20px);
    width: 200px;
    margin-top: 10px;
}

