body {
    background-color: rgb(204, 181, 247);
}
h1 {
    text-align: center;
}
#emailMess {
    margin: -3% 70%;
}

#email {
    margin: 10px 50px 15px 280px; 
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
#password {
    margin: 10px 50px 15px 280px; 
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

/* ??? */
#confirmpass {
    margin: 10px 50px 15px 280px; 
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}


form {
    margin: 100px 0px 0px 0px;
}
legend {
    text-align: center;
}
fieldset {
    color: black;
    text-decoration: solid;
    border-color: black;
    margin: 0px 500px 0px 350px;
}

#submit {
    text-decoration:solid;
    background-color: blue;
    text-align: center;
    color: white;
    text-decoration: solid;
    border-radius: 5px;
    /* border-style:; */
    margin: 5px 10px 10px 650px;
    padding:10px 10px;
}

label {
    text-align: center;
    margin: 100px 50px 35px 280px;
}

.error {
    color: #ffe1e1;
    background-color: rgb(84, 0, 0);
    padding: 10px;
    display: none;
}

.error.display-error {
    display: block;
    margin-left:86%;
    transform: translateY(-20px);
    width: 200px;
}
